<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tela de Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-img src="assets/imagenes/logo.jpg"></ion-img>
    <ion-list>
        <ion-item>
            <ion-input type="text"     maxlength=30 name="nombre"    [(ngModel)]="nome"      placeholder="Nome completo:"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input   type="email"    maxlength=30 name="mail"      [(ngModel)]="email"     placeholder="E-mail:"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" maxlength=12 name="senha"     [(ngModel)]="senha"     placeholder="Senha:"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input   type="password" maxlength=12 name="Confsenha" [(ngModel)]="Confsenha" placeholder="Confirmar Senha:"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input   type="text"     maxlength=30 name="endereco"  [(ngModel)]="enderec"   placeholder="Endereço:"></ion-input>
        </ion-item>
    </ion-list><br>
    <ion-button shape="round" expand="block" fill="outline" (click)="cadastrar()">Cadastrar</ion-button>    
</ion-content>
